.movie-list {
  max-width: 1480px;
  height: 100rem;
  display: flex;
}

.movie-tn {
  width: 17%;
  height: 28%;
  background-color: lightcoral;
}

.movie-image {
  width: 100%;
}

.movie-title {
  font-size: 18px;
}

.movie-info-image {
  width: 30%;
}

.movie-info-back {
  height: 30px;
  width: 150px;
}
