.app-view {
  background-color: rgb(199, 96, 96);
  height: 48rem;
}

.my-list-title {
  margin-left: 2.5rem;
}

.new-titles-title {
  margin-left: 2.5rem;
}

/* .all-lists-render {
  z-index: 1000;
} */

.movie-list-scrollbar {
  margin-left: 2.5rem;
  height: 8rem;
}

.movie-list {
  /* max-width: 1480px; */
  /* height: 100rem; */
  display: inline-flex;
  margin-left: -2.5rem;
  margin-top: 1.5rem;
  height: 10rem;
}

/* Movie List Item */

.movie-list-item {
  width: 100%;
  /* height: 20px; */
  /* background-color: lightcoral; */
  transition: transform 85ms ease-in-out;
}

.movie-list-item:hover {
  transform: scale(1.1);
  /* position: absolute; */
  z-index: 1000;
}

.movie-list-item-info {
  /* background-color: lightcoral; */
  background-color: lavender;
  padding: 10px 0px 5px 20px;
}

.movie-image {
  height: 230px;
}

.movie-title {
  font-size: 18px;
}

.movie-genre {
  font-size: 14px;
}

.movie-year {
  font-size: 14px;
}

.movie-description {
  font-size: 14px;
}

/* Movie info */

.movie-info-image {
  width: 30%;
}

.movie-info-back {
  height: 30px;
  width: 150px;
}
