.movie-list {
  max-width: 1480px;
  height: 100rem;
  display: flex;
}

.movie-tn {
  width: 24%;
  height: 35%;
  background-color: lightcoral;
}

.movie-image {
  width: 100%;
}

.movie-title {
  font-size: 25px;
}
